.container {
  margin: 0 12px;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 16px;
  height: 100%;
}

.section {
  padding: 40px 0;
  /* 1060px to match .hero break */

  @media (width >= 1060px) {
    padding: 64px 0;
  }
}

.section__header {
  font-size: 40px;

  @media (width >= 768px) {
    font-size: 52px;
  }
  margin-bottom: 24px;
}

/* LAYOUT - END */

.hero {
  /* 1060px in an attempt to keep 'Projects' above fold */
  @media (width >= 1060px) {
    padding-top: 140px;
  }
}

.about__wrapper,
.hero__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.about__wrapper > div,
.hero__wrapper > div {
  display: grid;
  gap: 36px;

  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.about__body,
.hero__body {
  margin-top: 24px;
  line-height: 1.5;
  font-size: 18px;
}

.hero__links {
  margin-top: 24px;
  text-wrap: pretty;
}

.hero__link .fa.fa-arrow-up {
  transform: rotate(45deg);
  font-size: smaller;
  margin-left: 4px;
  margin-right: 16px;
  color: #f0f5facc;
}

.skills__wrapper {
  display: grid;
  border-bottom: 1px gray solid;

  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.skills__list {
  padding-left: 36px;

  @media (width >= 600px) {
    column-count: 2;
  }

  @media (width >= 768px) {
    column-count: 3;
  }
}

.skills__item {
  font-size: 20px;

  @media (width >= 800px) {
    font-size: 24px;
  }
  line-height: 1.5;
}

.projects__wrapper {
  display: grid;
  gap: 36px;

  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project {
  gap: 24px;
  border-radius: 12px;

  @media (width < 768px) {
    text-align: center;
  }
}

.project:not(:last-child) {
  @media (width < 768px) {
    padding-bottom: 40px;
  }
}

.project img {
  border-radius: 12px;
  overflow: hidden;
}

.project__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
}

.project__sub-title {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.project__description {
  line-height: 1.5;
  font-size: 18px;

  @media (width < 768px) {
    text-align: left;
  }
}

.reviews__wrapper {
  display: grid;
  gap: 24px;

  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.about img {
  border-radius: 12px;
  overflow: hidden;
  margin: auto;
}

.about__description {
  margin: auto 0;
}

/* UTILITIES */
.title-1 {
  text-wrap: balance;
  font-size: 48px;

  @media (width >= 768px) {
    font-size: 60px;
  }
}