/* BASE RESETS */
img {
  max-width: 100%;
  @media (width < 768px) {
    max-height: 450px;
  }
}

body {
  margin: 0;
  font-family: 'Lato', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f1317;
  color: #f0f5facc;
}

a, a:visited {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #3EB489;
  text-decoration: underline;
}

h1, h2, h3, h4, p, ul, li {
  margin: 0;
}

h1, h2 {
  color: white;
}
