/* BASE RESETS */
img {
  max-width: 100%;
  @media (width < 768px) {
    max-height: 450px;
  }
}

body {
  margin: 0;
  font-family: 'Lato', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f1317;
  color: #f0f5facc;
}

button {
  width: 45px;
  height: 40px;
  background-color: #0f1317;
  color: white;
  border: none;

  i {
    font-size: 35px;
  }
}

a, a:visited {
  color: white;
  font-weight: bolder;
  text-decoration: none;

  @media (width >= 1060px) {
    font-size: 20px;
  }
}

a:hover, a:focus, a:active {
  color: #3EB489;
  text-decoration: underline;

  svg#envelope {
    fill: #3EB489;
  }
}

h1, h2, h3, h4, p, ul, li {
  margin: 0;
}

h1, h2 {
  color: white;
}

/* MODE - Light mode */
[data-theme="light"] {
  body,
  button,
  a, a:visited,
  h1, h2, h3, h4, p, ul, li {
    background-color: #fff;
    color: #0f1317;
  }

  a:hover, a:focus, a:active {
    color: #3EB489;
    text-decoration: underline;

    svg#envelope {
      fill: #3EB489;
    }
  }
}